/*advantages */

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--main-bt-color);
  border-radius: 4px;
  margin-bottom: 30px;
  fill: currentColor;
}
.advantages__list {
  display: flex;
}

.advantages__item:last-child {
  margin-right: 0;
}

.advantages__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}
