/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backdrop:not(.is-hidden) {
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  overflow: auto;

  background-color: var(--primary-wite-color);
  color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-wite-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  @extend%flex-center;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background: url(../images/icons/close.svg) 50% 50% no-repeat;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal__close-button .modal-close {
  fill: currentColor;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.form__inputs {
  position: relative;
  width: 100%;
}

.form__inputs.comment {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus-within {
  color: var(--accent-color);
}

.form__inputs label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  padding: 0;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  display: block;
  width: 448px;
}

.form__inputs input {
  margin-top: 4px;
}

.form__inputs textarea {
  margin-top: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 98;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Check box */

.distribution__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--text-color);
  position: relative;
  width: 100%;
}

.distribution__label input[type="checkbox"]:checked ~ .form-icon {
  visibility: visible;
}

.distribution__label input[type="checkbox"]:checked ~ .check-box {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .check-box {
    border-color: var(--accent-color);
  }
}

.check-box {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  margin-right: 7px;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
}
.check-box__icon {
  fill: var(--primary-wite-color);
  width: 16px;
  height: 15px;
}
.distribution__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}

.send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  text-transform: none;
  color: var(--primary-wite-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
  padding: 10px 32px;
  position: relative;
  margin: 0;
  transition: background-color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}
