/*footer*/
.footer-content {
  display: flex;
  align-items: baseline;
}
.content__item {
  margin-right: 70px;
  flex-grow: 1;
}
footer {
  background-color: var(--primary-bg-color);
  padding: 60px 0;
}
.footer-studio {
  color: var(--primary-wite-color);
}
.footer__adress,
.footer-contacts__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-wite-color);
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}
footer .logo {
  margin-bottom: 20px;
}
/*.footer-social-links {
}*/
.footer__social-title,
.subscribe__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-wite-color);
  margin-bottom: 20px;
}

/*subscribe*/
.subscribe {
  margin-left: 93px;
}
.subscribe___form {
  position: relative;
  display: flex;
}
.subscribe__title {
  margin-bottom: 15 px;
  display: block;
}
.subscribe__input {
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-style: regular;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-bg-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.subscribe__button {
  @extend%btn;
  @extend%flex-center;
}
.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
