/*our job*/
.section--no-padding-top {
  padding-top: 0;
}
.section--display-none {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.our-job {
  display: flex;
}

.our-job__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.our-job__box {
  position: relative;
}
.our-job__lable {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.our-job__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-wite-color);
}
