/*our team*/

.section--our-team {
  background-color: var(--primary-grey-color);
}

.item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.item__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.our-team {
  display: flex;
}
.our-team__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-wite-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
.our-team__item:last-child {
  margin-right: 0;
}
.item__description {
  padding: 30px 0px;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link,
.social__link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--accent-color);
    fill: var(--primary-wite-color);
  }
}
.social__link--footer {
  border-radius: 50%;
  background-color: var(--links-background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social__svg--footer {
  fill: var(--primary-wite-color);
}

.social__svg {
  fill: var(--svg-color);
  &:hover,
  &:focus {
    fill: var(--primary-wite-color);
  }
}
